# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Ambiente virtual
# =========================

.venv/
venv/
env/

# =========================
# Variáveis de ambiente
# =========================

.env
.env.*
!.env.example

# =========================
# Testes
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Build
# =========================

build/
dist/
*.egg-info/

# =========================
# Sistema operacional
# =========================

.DS_Store
Thumbs.db